{% extends 'basesearch.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">

<body>
    <br>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form method = "POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-light" type="submit" value="Login">
        </form>
    </div>
</body>
{% endblock %}

{% block extra_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="" defer></script>
{% endblock extra_script %}
    