{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/stylex.css' %}">
        <title>Story 3</title>
    </head>
<body>
    <!-- <nav class="navbar navbar-light" style="background-color: #F4DCDC;width: 100%; justify-content: center;">
        <a href="#" class="navbar-brand" style="color:#FFFFFF;font-weight: 900;font-family: nunito sans;">CURRICULUM VITAE</a>
        <div class="options" style="background-color: black;"></div>
    </nav> -->

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F4DCDC;">
        <a class="navbar-brand" href="#">Hello Web !</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Story
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'story1' %}">Story 1</a>
                <a class="dropdown-item" href="https://www.figma.com/file/O0vbFzvGTSIuMt2ZprhWzA/Story-2">Story 2</a>
                <a class="dropdown-item" href="{% url 'story5' %}">Story 5</a>
                <a class="dropdown-item" href="{% url 'main_page' %}">Story 6</a>
                <a class="dropdown-item" href="{% url 'story7:FAQ' %}">Story 7</a>
                <a class="dropdown-item" href="{% url 'story_8:search' %}">Story 8</a>
                <a class="dropdown-item" href="{% url 'story_9:auth' %}">Story 9</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">...</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link"> Hello, {{ user.username }} </a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'story_9:logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'story_9:auth' %}">Login</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'story_9:register' %}"> Register</a>
                </li>
            {% endif %}
            </ul>  
        </div>
      </nav>
    
    
    {% block content %}
        
    {% endblock %}
     
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>   
{% block extra_script %}
{% endblock %}
</body>
</html>