@import url('https://fonts.googleapis.com/css2?family=Nova+Round&family=Nunito+Sans:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container-fluid {
    
    width: 100%;
    margin: 0;
    padding: 10px;
    align-items: center;
    
    top: 10%;
    position: absolute;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
    padding-top: 5%;
}

.identity{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 2%;
}

.card .container{
    width: 95%;
    position: relative;
    height: 100%;
    margin-left: 2%;
    margin-top: -2%;
}

.card2 .container{
    width: 95%;
    position: relative;
    height: 100%;
    margin-left: 2%;
    margin-top: -2%;
    
}

.card3 .container{
    width: 95%;
    position: relative;
    height: 100%;
    margin-left: 2%;
    margin-top: -2%;
    
}

h2{
    font-family: 'nova round';
    font-weight: 400;
}

p{
    font-family: 'Nunito Sans';
    font-weight: 300;
}

body{
    background-color: #9CCCC4; 
    width: 100%;
    position: absolute;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #ffffff;
    width: 95%;
    height: auto;
    margin-top: 10%;
    padding-top: 20px;
  }

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    padding-top: 20px;
    margin-top: 10%;
    
}

.card3{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #ffffff;
    height: auto;
    width: 95%;
    padding-top: 20px;
    margin-top: 10%;
}

.bullets{
    font-family: 'Nunito Sans';
    font-weight: 300;
    list-style: none;
    color: #D19A0A;
    font-weight: bold;
    
    
}

.bullets:before{
    content: "\29BF";
    color: #D19A0A;
}


.exclusive .li{
    font-weight: 300;
    color: black;
    font-style: normal;
}

.contain-fluid {
    
    width: 100%;
    align-items: center;
    padding-top: 20%;
    bottom: 10%;
    
    position: absolute;
}

.rowx {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
}

.colx {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 2%;
    padding-top: 10%;
    height: auto;
    
}

.headbar{
    width: 100%;
    margin: 0;
    align-items: center;
    top: 0;
    position: absolute;
}

.cardx{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #ffffff;
    width: auto;
    height: auto;
    padding-top: 90px;
}

.containerx-fluid {
    
    width: 100%;
    margin: 0;
    align-items: center;
    bottom: 0;
    position: absolute;
    position: relative;
}

.rowy{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 1%;
    padding-right: 1%;
    width: auto;
}

.coly{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    padding-left: 2%;
    padding-top: 1%;
}

.colx img{
    width: auto;
    justify-content: center;
    
}


@media (max-width: 1024px) and (min-width: 280px){
    .col, .row {
        width: 100% !important;
        float: none !important;
        margin-right: 0 !important;
        display: block !important;
        padding-bottom: 10%;
        justify-content: center;
    }
    .colx, .rowx, .contain-fluid{
        width: 100% !important;
        float: none !important;
        margin-right: 0 !important;
        justify-content: center;
        

    }
    
    }
