{% extends 'base.html' %}

{% block content %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 center">
    <br>
    <br>
    <div class="intro">
        <h1 style="text-align: center;">Events</h1>
    </div>
    <a href="{% url 'add_people' %}" class="btn btn-light"> Add People </a>
    <a href="{% url 'add_event' %}" class="btn btn-light">Add Events</a>
    <br>
    <br>
    {% if events  %}
        <div class="row">
        {% for i in events %}
            <div class="col-auto">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.title }}</h5>
                        <br>
                        <p class="card-text">Registered: </p>
                        <ul>
                            {% for j in people  %}
                                {% if j.events_registered.title == i.title %}
                                    <p class="card-text"><li>{{ j.full_name }}</li></p>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p class="text-muted">Nothing to do here</p>
    {% endif %}
</div>
{% endblock %}
    