{% extends 'basesearch.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">

<body>
    <div class="container-fluid" style="width: 100%;">
        <h1 style="text-align: center;">Search Box With AJAX</h1>
        <br>
        <div class="input" style="width: 100%; text-align: center;">
            <input type="text" id="fname" name="fname" style="border: 1px solid #d66; width: 50%; padding: 1%;">
        </div>
        <br>
        <div class="content">
            <table id="content" style="margin-left: auto; margin-right: auto;">

            </table>

        </div>
    </div>

    
</body>
{% endblock %}

{% block extra_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'jscript/search.js' %}" defer></script>
{% endblock extra_script %}
    