{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Styles.css' %}" >
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F4DCDC;">
            <a class="navbar-brand" href="#">Hello Web !</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active" style="list-style: none;list-style-type: none;">
                  <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown" style="list-style: none;list-style-type: none;">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Story
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'story1' %}" style="list-style: none;list-style-type: none;">Story 1</a>
                    <a class="dropdown-item" href="https://www.figma.com/file/O0vbFzvGTSIuMt2ZprhWzA/Story-2" style="list-style: none;list-style-type: none;">Story 2</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" style="list-style: none;list-style-type: none;">...</a>
                  </div>
                </li>
            </div>
          </nav>

<br>
        <br>
          <br>
        <table style=" margin:auto; width: auto; height: auto;">
            <tr>
                <td rowspan="6" style="width: 190;">
                    <img src="https://bit.ly/35Rz1QL" width="190" height="285" alt="profile image">
                </td>
                <th style="text-align: center;">Nama</th>
                <td style="text-align: center; background-color: #cfd8dc;">Erasto Akbar Adjie</td>
            </tr>
            <tr>
                <th style="text-align: center;">NPM</th>
                <td style="text-align: center;">1906399713</td>
            </tr>
            <tr>
                <th style="text-align: center;">Kuliah</th>
                <td style="text-align: center;  background-color: #cfd8dc;">Universitas Indonesia</td>
            </tr>
            <tr>
                <th style="text-align: center;">Angkatan</th>
                <td style="text-align: center;">MAUNG - 2019</td>
            </tr>
            <tr>
                <th style="text-align: center;">Jurusan</th>
                <td style="text-align: center;  background-color: #cfd8dc;">Sistem Informasi</td>
            </tr>
            <tr>
                <th style="text-align: center;">Hobi</th>
                <td style="text-align: center;">Nonton TED-ED, Otak Atik Figma, Reddit-an</td>
            </tr>
            <tr>
                <th colspan="3" style="text-align: center;">Deskripsi Tentang Saya</th>
            </tr>
            <tr>
                <td colspan="3" style="word-wrap: break-word;">Halo namaku Eros ! saat ini saya sedang menjalankan mata kuliah perancangan dan pemrograman web. fun fact tentangku adalah saya merupakan orang yang sangat tertarik dalam industri product development dan UX Research</td>
            </tr>
            <tr>
                <th colspan="3" style="text-align: center;">Riwayat Pendidikan</th>
            </tr>
            <tr>
                <td colspan="3">
                    <ul>
                        <li class="points">SMA Negeri 17 Makassar (2017-2019)</li>

                        <li class="points">Universitas Indonesia (2019-2023)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th colspan="3">Sosial Media</th>
            </tr>
            <tr>
                <td style="text-align: center;">
                </td>
                <td style="text-align: center;">
                </td>
                <td class="image">
                    <a href="https://www.linkedin.com/in/erastoakbar/">
                    <img src="http://krueger.ca/wp-content/uploads/2016/02/linkedin-logo-300x300.png" alt="linkedin.internet_needed" style="width: 70px; height: 70px; text-align: center;">
                    </a>
                    <a href="https://www.instagram.com/erastoakbar/">
                    <img src="https://i.pinimg.com/originals/72/a3/d9/72a3d9408d41335f39e9f014dc35cf44.jpg" alt="Instagram.internet_needed" style="width: 90px; height: 66px;">
                    </a>
                    <a href="http://line.me/ti/p/~invalidsyntax">
                    <img src="https://seeklogo.net/wp-content/uploads/2018/10/line-logo.png" alt="line_need_internet" style="width: 90px; height: 90px; text-align: center;">
                    </a>
                </td>
            </tr>

        </table>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>   
    </body>
</html>