{% extends 'base.html' %}

{% block content %}
  

  
    <div class="contain_fluid" style="height: auto; padding-top: 3%;">
        <div class="rowx" style=" padding-bottom: 0;padding-left: 0; height: auto; width: 97%;">
            <div class="colx" style="padding:0; width: 100%;">
                <img src="https://files.catbox.moe/dopnyu.png" alt="" style="width: 110%; left: 10%;">
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding-top: 10%; padding-bottom: 10%;">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="container">
                      <h2 style="text-align: center; font-size: 150%;">About Me</h2>
                      <br>
                      <p style= "height: auto;padding-bottom: 5%;padding-right: 10%; padding-left: 10%; font-size: 100%;">Hello my name is eros, i am a 2nd year Information System Undergraduate in Universitas Indonesia with the current GPA of 3.3. I am a strong willed individual thats adaptable, easy to work with, and realistic when facing circumstances. 
                        I am a person who likes to combine knowledge and researches from information technology with social studies such as psychology, economics, and management.
                        While in my major, i am really invested on management consulting, project management, and product development.
                        Outside of my studies, i spent my time with socializing, do debates in the debate club, do researches for fun, and design ui/ux mockups
                        I am currently interested (but not exclusive to) to work in the field of Product Management, User Experience (UX) Research, Marketing and Consulting.
                        </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="container">
                      <h2 style="text-align: center; font-size: 150%;">Language Proficiency</h2>
                      <br>
                      <ul style="padding-left: 5%; padding-right: 5%; padding-bottom: 5%; font-size: 100%;">
                          <li class="bullets"> Indonesian Language (Formal Indonesian)</li>
                          <p style="color: #D19A0A;font-weight:300;">Native Fluency</p>
                          <br>
                          <p>lived in a country that uses the language as its official language and learn the language academicaly for 12 years in total. able to use the language in oral and writing form fluently</p>
                          <br>
                          <li class="bullets"> English Language</li>
                          <p style="color: #D19A0A;font-weight:300;">Professional Working Proficiency </p>
                          <br>
                          <p>Learned the language through courses and mandatory education since childhood at the point of biilingual fluency. able to use oral and writing skill to communicate informations with foreign native speakers</p>
                          <br>
                      </ul>
                    </div>
                  </div>
            </div>
            <div class="col" style="padding-right: 2%; width: auto;">
                <div class="card2">
                    <div class="container">
                      <h2 style="text-align: center; font-size: 150%;">Volunteering & Work Experience</h2>
                      <br>
                      <ul style="padding-left: 5%; padding-right: 5%; padding-bottom: 5%; font-size: 100%;">
                        <li class="bullets"> Part Time Consultant at SISTEM for Kotakode</li>
                        <p style="color: #D19A0A;font-weight:300;">September 2020 - January 2020 </p>
                        <br>
                        <p>As SISTEM’s Final Project i became one of 12 members who became a part time consultant for a new company called Kotakode. Kotakode is an online community for coders from all expertise to discuss problems and solve it.</p>
                        <br>
                        <li class="bullets"> Product Ops Intern at Pinhome</li>
                        <p style="color: #D19A0A;font-weight:300;">July 2020 - October 2020</p>
                        <br>
                        <p>Pinhome is the pioneer of technology-based property selling, buying and renting platforms. During this opportunity i collaborated with the other product teams by making and mantaining research databases, and help make, conduct, and report usability testings.</p>
                        <br>
                        <li class="bullets"> Staff of SISTEM Consulting SIG</li>
                        <p style="color: #D19A0A;font-weight:300;">March 2020 - Present</p>
                        <br>
                        <p>SISTEM is a student learning organization exclusively for students from the faculty of computer science that mainly teaches about the business and management point of view of IT, such as Management Consulting, Entrepreneurship, and Data Science. </p>
                        <br>
                        <li class="bullets"> Staff of User Experience Academy COMPFEST</li>
                        <p style="color: #D19A0A;font-weight:300;">February 2020 - August 2020</p>
                        <br>
                        <p>Compfest is the biggest tech event held by students in indonesia. While on the team, i was in charge of making the curriculum of the very first UX academy that was held by compfest, the topic mainly consists of UX Researches</p>
                        <br>
                        <li class="bullets"> Staff of Training and Development EDS UI </li>
                        <p style="color: #D19A0A;font-weight:300;">January 2020 - Present </p>
                        <br>
                        <p>English Debating Society (EDS) UI is the oldest debating society in indonesia that pioneers the rise of university debate around indonesia with the goal to make sure that future leaders are able to be vocal, thinking critically, and emphatize with one another. </p>
                        <br>
                    </ul>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card3">
                    <div class="container">
                      <h2 style="text-align: center;">Education Background</h2>
                      <br>
                      <ul style="padding-left: 5%; padding-right: 5%; padding-bottom: 5%; font-size: 100%;">
                        <li class="bullets"> Universitas Indonesia (2019-2023)</li>
                        <p style="color: #D19A0A;font-weight:300;">2nd Year Information Systems Undergraduate | GPA 3.31</p>
                        <br>
                        <p>Information Systems is a degree where students learn both Information Technology (IT) and Economics as its main study. In IS i learnt basic coding skills (e.g Python and Java), specifically on the field of backend and frontend development. I also learn the concept of economic, business and management to deal with practical problems that are usually of immediate interest to business and organizations</p>
                        <br>
                    </ul>
                    </div>
                  </div>
                  <div class="card3">
                    <div class="container">
                      <h2 style="text-align: center;">Skillsets & Tools</h2>
                      <br>
                      <ul style="padding-left: 5%; padding-right: 5%; padding-bottom: 5%; font-size: 100%;" class="exclusive">
                        <li style="color: #D19A0A;font-weight:300;"class="bullets"> Analytical Thinking</li>
                        <li style="color: #D19A0A;font-weight:300;"class="bullets"> Business Analysis</li>
                        <li style="color: #D19A0A;font-weight:300;"class="bullets"> Collaborative Teamwork</li>
                        <li style="color: #D19A0A;font-weight:300;"class="bullets"> Excel</li>
                        <li style="color: #D19A0A;font-weight:300;"class="bullets"> Figma</li>
                        <li style="color: #D19A0A;font-weight:300;"class="bullets"> Analytical Thinking</li>
                        <li style="color: #D19A0A;font-weight:300;"class="bullets"> Business Analysis</li>
                        <li style="color: #D19A0A;font-weight:300;"class="bullets"> Collaborative Teamwork</li>
                        <li style="color: #D19A0A;font-weight:300;"class="bullets"> Excel</li>
                        <li style="color: #D19A0A;font-weight:300;"class="bullets"> Figma</li>
                      </ul>
                    </div>
                  </div>
                  <div class="card3" class="lowest">
                    <div class="container">
                      <h2 style="text-align: center;">Honors & Certifications</h2>
                      <br>
                      <ul style="padding-left: 5%; padding-right: 5%; padding-bottom: 5%; font-size: 100%;">
                        <li class="bullets"> Finalist of FindIT Hackathon 2020</li>
                        <p style="color: #D19A0A;font-weight:300;"> Lead UI/UX Designer and System Analyst</p>
                        <br>
                        <p>Developed and designed a web app called StreamLine, an app that could calculate multiple routes into one effective route</p>
                        <br>
                        <li class="bullets"> Global Participant Garuda Hackathon</li>
                        <p style="color: #D19A0A;font-weight:300;">Lead UI/UX Designer and System Analyst</p>
                        <br>
                        <p>Developed and designed a web called Pressd, an app that reviews news and journals to uphold quality of information and journalism</p>
                        <br>
                    </ul>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <div class="contain_fluid" style="position: fixed; height: auto;bottom: 0; width: 100%;">
        <div class="rowx" style="background-color: #F4DCDC;padding-top:0; padding-bottom: 0; height: auto; width: 100%; padding-right: 0; margin-right: 0;margin-left:0;">
            <div class="colx" style="padding-top: 0;">
                <a href="#" class="navbar-brand" style="color:#FFFFFF;font-weight: 900;font-family: nunito sans; ">CONTACT ME HERE!</a>
            </div>
            <div class="colx" style="padding-top: 0;">
              <img src="https://files.catbox.moe/18u7oo.png" />
            </div>
            <div class="colx" style="padding-top: 0;">
                <img src="https://files.catbox.moe/oi5m49.png" alt="">
            </div>
            <div class="colx" style="padding-top: 0;">
                <img src="https://files.catbox.moe/gpcg4m.png" alt="">
            </div>
            <div class="colx" style="padding-top: 0;">
                <img src="https://files.catbox.moe/3yll1h.png" alt="">
            </div>
            <div class="colx" style="padding-top: 0;">
                <img src="https://files.catbox.moe/a0kywt.png" alt="">
            </div>
            <div class="colx" style="padding-top: 0;">
                <img src="https://files.catbox.moe/1jlwlq.png" alt="">
            </div>
        </div>
    </div>

{% endblock %}