<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body style="background-image: url(https://files.catbox.moe/qai26i.svg);background-position: center;background-repeat: no-repeat;background-size: cover; background-color: #FFE3B8;"> -->


{% extends 'base.html' %}
{% load static %}

{% block content %}
    <p style="font-size: 5rem; font-weight: 900; text-align: center; padding-top: 3%;" >Welcome To My Web</p>
    <br>
    <p style="font-size: 3rem;font-weight: 300; text-align: center; color: #FFE3B8; padding-top: 3%;">“Today i choose joy” -Kevin Aucoin</p>
    <div class="contain_fluid" style="padding-bottom: 10%;">
        <div class="rowx">
            <div class="colx">
                <a href="{% url 'resume' %}">
                    <img src="https://files.catbox.moe/g0v4em.svg" alt="This text is shown if server fails to load image" />
                </a>
            </div>
            <div class="colx">
                 <img src="https://files.catbox.moe/hrr6kx.svg" alt="This text is shown if server fails to load image" />
            </div>
            <div class="colx">
                <img src="https://files.catbox.moe/maw3fj.svg" alt="">
            </div>
        </div>
    </div>

    <div class="contain_fluid" style="position: fixed; height: auto;bottom: 0; width: 100%;">
        <div class="rowx" style="background-color: #F4DCDC;padding-top:0; padding-bottom: 0; height: auto; width: 100%; padding-right: 0; margin-right: 0;margin-left:0;">
            <div class="colx" style="padding-top: 0;">
                <a href="#" class="navbar-brand" style="color:#FFFFFF;font-weight: 900;font-family: nunito sans; ">CONTACT ME HERE!</a>
            </div>
            <div class="colx" style="padding-top: 0;">
              <img src="https://files.catbox.moe/18u7oo.png" />
            </div>
            <div class="colx" style="padding-top: 0;">
                <img src="https://files.catbox.moe/oi5m49.png" alt="">
            </div>
            <div class="colx" style="padding-top: 0;">
                <img src="https://files.catbox.moe/gpcg4m.png" alt="">
            </div>
            <div class="colx" style="padding-top: 0;">
                <img src="https://files.catbox.moe/3yll1h.png" alt="">
            </div>
            <div class="colx" style="padding-top: 0;">
                <img src="https://files.catbox.moe/a0kywt.png" alt="">
            </div>
            <div class="colx" style="padding-top: 0;">
                <img src="https://files.catbox.moe/1jlwlq.png" alt="">
            </div>
        </div>
    </div>

{% endblock %}