{% extends 'base.html' %}


{% block content %}

<div class="container" style="padding-top: 5%;">
    <a class="btn btn-warning" href="{% url 'story5_add' %}" role="button">ADD Mata Kuliah</a>
</div>
<div class="container" style="padding: 0;">
<div class="row" style="padding: 0; align-items: center; ">
    {% for i in object %}
<div class="card" style="width: 18rem; margin: 3%;"> 
    <div class="card-body">
      <h5 class="card-title">{{i.title}}</h5>
      <p class="card-text">{{i.description}}</p>
      <a href="{% url 'story5_detail' my_id=i.id %}" class="btn btn-primary">View Details</a>
      <a href="{% url 'matkul_delete' my_id=i.id %}" class="btn btn-warning">Delete</a>
    </div>
</div>
{% endfor %}
</div>
</div>


{% endblock %}