{% extends 'basefaq.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/FAQ.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'jscript/FAQ.js' %}" defer></script>
<div class="container" style="text-align: center; padding-top: 2%;">
    <h2>Frequently Asked Questions</h2>
    <br>
        <div class="container">
            <div class="box">
                <div class="accordion">
                    <div class="row">
                        <div class="col-7 expand">
                            About Me
                        </div>
                        <div class="col-5">
                            <a href="#" class="up">UP</a>
                            <a href="#" class="down">DOWN</a>
                        </div>
                    </div>
                </div>
                <div class="panel">
                <p>I am a person who is fond of User Experience, Product Management, Product Design, 
                    Project Management and Business Development. One key essential that i hold is that the topic must have
                    a social element enveloped within the topic itself
                </p>
                </div>
            </div>
            <div class="box">
                <div class="accordion">
                    <div class="row">
                        <div class="col expand">
                            Organizations
                        </div>
                        <div class="col">
                            <a href="#" class="up">UP</a>
                            <a href="#" class="down">DOWN</a>
                        </div>
                    </div>
                </div>
                <div class="panel">
                <p>During the first smester i apply myself to English Debating Society (EDS) UI as a member of Training and Development,
                    I also applied myself as a member of Connsulting SIG in SISTEM. On the Second Semester i became a staff of user Experience
                    academy for COMPFEST and i also landed an internship as a product design operation handling ux researches at Pinhome.id
                </p>
                </div>
            </div>
            <div class="box">
                <div class="accordion">
                    <div class="row">
                        <div class="col expand">
                            Achievements
                        </div>
                        <div class="col">
                            <a href="#" class="up">UP</a>
                            <a href="#" class="down">DOWN</a>
                        </div>
                    </div>
                </div>
                <div class="panel">
                <p>I only have some competition achievements during 2 years as an undergraduate student, those experiences are : </p> 
                    <ul>
                        <li>
                            <p>UI/UX Designer on FindIT Hackathon 2020 (Held by Universitas Gadjah Mada), on this competition we got into the finals</p>
                        </li>
                        <li>
                            <p>UI/UX Designer on Garuda Hackathon 2020 (Held International Scale), on this competition we didn't got into the finals but it was a fun learning curve</p>  
                        </li>
                        <li>
                            <p>English Debate Contingent for Fasilkom UI in OIM 2020</p> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <div class="accordion">
                    <div class="row">
                        <div class="col expand">
                            Field of Interests
                        </div>
                        <div class="col">
                            <a href="#" class="up">UP</a>
                            <a href="#" class="down">DOWN</a>
                        </div>
                    </div>
                </div>
                <div class="panel">
                <p>I am a person who is fond of User Experience, Product Management, Product Design, 
                    Project Management and Business Development. One key essential that i hold is that the topic must have
                    a social element enveloped within the topic itself
                </p>
                </div>
            </div>
        </div>
        <br/>
{% endblock %}
