.LeftFloat {
    float: left
}
.RightFloat {
    float: right
}
.collection {
    border: 1px solid black;
    width: 100%;
    height: auto;
    overflow-y: auto;
    font-family:tahoma;
}
.item {
    margin: 3px;
    border: 1px dashed #0da3fd;
    background-color: #e8efff;
    height: 50px;
}
.item div.Commands {
    width: 60px;
}
button {
    width: 60px;
}